* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-app {
    background-color: rgba(238, 238, 238, 0.548);

    @media (max-width: 1024px) {
        padding-bottom: 0;
    }

    @media (max-width: 390px) {
        padding-bottom: 40px;
    }

    @media (max-width: 385px) {
        padding-bottom: 0;
    }
}